.add-note input{
    line-height: 2rem;
    width: 70%;
    border: 0;
    padding: 0;
}

.add-note button{
    line-height: 2rem;
    width: 15%;
    border: 0;
    padding: 0;
    background-color: greenyellow;
}

.add-note select{
    height: 2rem;
    width: 15%;
    border: 0;
    padding: 0;
}